<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="title-2">
                    Ready to move your brand forward? Let's chat
                </h2>
                <span class="small-text bold">
                    Contact: Brian Cohen, Chief Executive Officer
                </span>
                <br />
                <span class="small-text bold"><a href="mailto:brian.cohen@purered.net">brian.cohen&#64;purered.net</a>
                    |
                    <a href="tel:+19149806384">914-980-6384</a></span><span class="small-text"> </span>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="my-5">
                    <a href="/" target="_self" alt="PureRed Logo"><img src="./assets/images/purered-logo.svg"
                            alt="PureRed Logo" class="me-4" /></a>
                    <a href="https://www.instagram.com/pureredmarketing/" target="_blank" alt="Instagram URL"><img
                            class="me-4" src="assets/images/logo_instagram.svg" alt="Instagram Logo" /></a>
                    <a href="https://www.linkedin.com/company/purered/" target="_blank" alt="LinkedIn URL"><img class="me-4"
                            src="assets/images/logo_linkedin.svg" alt="LinkedIn Logo" /></a>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="row">
            <div class="d-flex justify-content-between">
                <span class="small-text">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    PureRed All Rights Reserved.
                </span>
                <div class="small-text">
                    <a class="me-4" href="https://www.purered.co/privacy-policy" target="_blank">Privacy Policy</a>
                    <a class="me-4" href="https://www.purered.co/cookie-policy" target="_blank">Cookie Policy</a>
                    <a href="https://www.purered.co/terms-of-use" target="_blank">Terms of Use</a>
                </div>
            </div>
        </div>
    </div>
</footer>
